Source: cvc4
Priority: extra
Maintainer: Morgan Deters <mdeters@cs.nyu.edu>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libgmp3-dev, libz-dev, graphviz, libantlr3c-dev (>= 3.2), antlr3 (>= 3.2)
Standards-Version: 3.8.4
Section: libs
Homepage: http://www.cs.nyu.edu/acsys/cvc4/

Package: cvc4
Section: math
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CVC4 binary
 This is the CVC4 binary.

Package: cvc4-doc
Section: doc
Architecture: all
Depends: www-browser
Description: CVC4 command-line, language, and API documentation
 CVC4 documentation.

Package: libcvc4-dev
Section: libdevel
Architecture: any
Depends: libcvc4 (= ${binary:Version})
Description: CVC4 headers and static libraries
 This is the CVC4 development package.

Package: libcvc4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CVC4 dynamic libraries
 This is the CVC4 library.
