Source: cvc4
Priority: extra
Maintainer: Morgan Deters <mdeters@cs.nyu.edu>
Build-Depends: debhelper (>= 8), autotools-dev, libgmp3-dev, libz-dev, gawk | awk, doxygen, graphviz, libantlr3c-dev (>= 3.2), libboost-thread-dev, swig2.0, openjdk-7-jdk | openjdk-6-jdk
# Currently not building other bindings: python-dev, perl, ruby-dev, tcl-dev, php5-dev
Standards-Version: 3.9.5
Section: math
Homepage: http://cvc4.cs.nyu.edu/

Package: cvc4
Architecture: any
Depends: libcvc4-2 (= ${binary:Version}), libcvc4parser2 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: cvc4-doc
Description: First order formula validity checker (version 4)
 This package contains the CVC4 binaries.
 .
 CVC4 is a tool for determining the satisfiability of a first order formula
 modulo a first order theory (or a combination of such theories). It is the
 fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
 CVC3) but does not directly incorporate code from any previous version.
 .
 CVC4 is intended to be an open and extensible SMT engine. It can be used
 as a stand-alone tool or as a library. It has been designed to increase
 the performance and reduce the memory overhead of its predecessors.

Package: cvc4-doc
Section: doc
Architecture: all
Depends: elinks | www-browser, libjs-jquery, ${misc:Depends}
Recommends: cvc4
Description: CVC4 command-line, language, and API documentation
 This package contains CVC4 documentation.
 .
 CVC4 is a tool for determining the satisfiability of a first order formula
 modulo a first order theory (or a combination of such theories). It is the
 fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
 CVC3) but does not directly incorporate code from any previous version.
 .
 CVC4 is intended to be an open and extensible SMT engine. It can be used
 as a stand-alone tool or as a library. It has been designed to increase
 the performance and reduce the memory overhead of its predecessors.

Package: libcvc4-dev
Section: libdevel
Architecture: any
Depends: libcvc4-2 (= ${binary:Version}), ${misc:Depends}
Description: CVC4 headers and static libraries
 This is the CVC4 development package, containing headers and static
 libraries for CVC4.  Install this package only if you need to build
 packages from source that depend on the CVC4 library API.
 .
 CVC4 is a tool for determining the satisfiability of a first order formula
 modulo a first order theory (or a combination of such theories). It is the
 fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
 CVC3) but does not directly incorporate code from any previous version.
 .
 CVC4 is intended to be an open and extensible SMT engine. It can be used
 as a stand-alone tool or as a library. It has been designed to increase
 the performance and reduce the memory overhead of its predecessors.
 
Package: libcvc4-2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CVC4 dynamic libraries
 This package contains the CVC4 dynamic libraries.  "libcvc4.so" contains
 the main CVC4 prover API.
 .
 CVC4 is a tool for determining the satisfiability of a first order formula
 modulo a first order theory (or a combination of such theories). It is the
 fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
 CVC3) but does not directly incorporate code from any previous version.
 .
 CVC4 is intended to be an open and extensible SMT engine. It can be used
 as a stand-alone tool or as a library. It has been designed to increase
 the performance and reduce the memory overhead of its predecessors.

Package: libcvc4parser-dev
Section: libdevel
Architecture: any
Depends: libcvc4parser2 (= ${binary:Version}), libcvc4-dev (= ${binary:Version}), ${misc:Depends}
Description: CVC4 parser headers and static libraries
 This is the CVC4 parser development package, containing headers and static
 libraries for the CVC4 parser.  Install this package only if you need to
 build packages from source that depend on the CVC4 parser library API.
 .
 CVC4 is a tool for determining the satisfiability of a first order formula
 modulo a first order theory (or a combination of such theories). It is the
 fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
 CVC3) but does not directly incorporate code from any previous version.
 .
 CVC4 is intended to be an open and extensible SMT engine. It can be used
 as a stand-alone tool or as a library. It has been designed to increase
 the performance and reduce the memory overhead of its predecessors.
 
Package: libcvc4parser2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CVC4 parser dynamic libraries
 This package contains the CVC4 parser dynamic libraries.  "libcvc4parser.so"
 contains the parsing API for parsing files and strings in CVC presentation
 language, SMT-LIB v1, and SMT-LIB v2 formats.
 .
 CVC4 is a tool for determining the satisfiability of a first order formula
 modulo a first order theory (or a combination of such theories). It is the
 fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
 CVC3) but does not directly incorporate code from any previous version.
 .
 CVC4 is intended to be an open and extensible SMT engine. It can be used
 as a stand-alone tool or as a library. It has been designed to increase
 the performance and reduce the memory overhead of its predecessors.

Package: libcvc4compat-dev
Section: libdevel
Architecture: any
Depends: libcvc4compat2 (= ${binary:Version}), libcvc4-dev (= ${binary:Version}), libcvc4parser-dev (= ${binary:Version}), ${misc:Depends}
Description: CVC4 headers and static libraries, compatibility with CVC3 C++ API
 This is the CVC4 compatibility development package, containing headers and
 static libraries for the CVC4 compatibility layer.  Install this package only
 if you need to build packages from source that depend on the CVC4 compatibility
 library API (which aims to be source-compatible to CVC3's C++ API).
 .
 CVC4 is a tool for determining the satisfiability of a first order formula
 modulo a first order theory (or a combination of such theories). It is the
 fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
 CVC3) but does not directly incorporate code from any previous version.
 .
 CVC4 is intended to be an open and extensible SMT engine. It can be used
 as a stand-alone tool or as a library. It has been designed to increase
 the performance and reduce the memory overhead of its predecessors.
 
Package: libcvc4compat2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CVC4 dynamic libraries, compatibility with CVC3 C++ API
 This package contains the CVC4 compatibility dynamic libraries.
 "libcvc4compat.so" contains the compatibility API that allows
 CVC4 to support (much of) the CVC3 C++ API.
 .
 CVC4 is a tool for determining the satisfiability of a first order formula
 modulo a first order theory (or a combination of such theories). It is the
 fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
 CVC3) but does not directly incorporate code from any previous version.
 .
 CVC4 is intended to be an open and extensible SMT engine. It can be used
 as a stand-alone tool or as a library. It has been designed to increase
 the performance and reduce the memory overhead of its predecessors.

Package: libcvc4bindings-java2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CVC4 Java bindings
 This package contains the CVC4 Java bindings.  "CVC4.so" and "CVC4.jar"
 contain the Java API that allows CVC4 to support Java programs.
 .
 CVC4 is a tool for determining the satisfiability of a first order formula
 modulo a first order theory (or a combination of such theories). It is the
 fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
 CVC3) but does not directly incorporate code from any previous version.
 .
 CVC4 is intended to be an open and extensible SMT engine. It can be used
 as a stand-alone tool or as a library. It has been designed to increase
 the performance and reduce the memory overhead of its predecessors.

#Package: libcvc4bindings-perl2
#Section: libs
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: CVC4 Perl bindings
# This package contains the CVC4 Perl bindings.  "CVC4.so" and "CVC4.pm"
# contain the Perl API that allows CVC4 to support Perl programs.
# .
# CVC4 is a tool for determining the satisfiability of a first order formula
# modulo a first order theory (or a combination of such theories). It is the
# fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
# CVC3) but does not directly incorporate code from any previous version.
# .
# CVC4 is intended to be an open and extensible SMT engine. It can be used
# as a stand-alone tool or as a library. It has been designed to increase
# the performance and reduce the memory overhead of its predecessors.
#
#Package: libcvc4bindings-php2
#Section: libs
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: CVC4 PHP bindings
# This package contains the CVC4 PHP bindings.  "CVC4.so" and "CVC4.php"
# contain the PHP API that allows CVC4 to support PHP programs.
# .
# CVC4 is a tool for determining the satisfiability of a first order formula
# modulo a first order theory (or a combination of such theories). It is the
# fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
# CVC3) but does not directly incorporate code from any previous version.
# .
# CVC4 is intended to be an open and extensible SMT engine. It can be used
# as a stand-alone tool or as a library. It has been designed to increase
# the performance and reduce the memory overhead of its predecessors.
#
#Package: libcvc4bindings-tcl2
#Section: libs
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: CVC4 Tcl bindings
# This package contains the CVC4 Tcl bindings.  "CVC4.so" contains the Tcl
# API that allows CVC4 to support Tcl programs.
# .
# CVC4 is a tool for determining the satisfiability of a first order formula
# modulo a first order theory (or a combination of such theories). It is the
# fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
# CVC3) but does not directly incorporate code from any previous version.
# .
# CVC4 is intended to be an open and extensible SMT engine. It can be used
# as a stand-alone tool or as a library. It has been designed to increase
# the performance and reduce the memory overhead of its predecessors.
#
#Package: libcvc4bindings-ruby2
#Section: libs
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: CVC4 Ruby bindings
# This package contains the CVC4 Ruby bindings.  "CVC4.so" contains the Ruby
# API that allows CVC4 to support Ruby programs.
# .
# CVC4 is a tool for determining the satisfiability of a first order formula
# modulo a first order theory (or a combination of such theories). It is the
# fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
# CVC3) but does not directly incorporate code from any previous version.
# .
# CVC4 is intended to be an open and extensible SMT engine. It can be used
# as a stand-alone tool or as a library. It has been designed to increase
# the performance and reduce the memory overhead of its predecessors.
#
#Package: libcvc4bindings-python2
#Section: libs
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
#Description: CVC4 Python bindings
# This package contains the CVC4 Python bindings.  "CVC4.so" and "CVC4.py"
# contain the Python API that allows CVC4 to support Python programs.
# .
# CVC4 is a tool for determining the satisfiability of a first order formula
# modulo a first order theory (or a combination of such theories). It is the
# fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
# CVC3) but does not directly incorporate code from any previous version.
# .
# CVC4 is intended to be an open and extensible SMT engine. It can be used
# as a stand-alone tool or as a library. It has been designed to increase
# the performance and reduce the memory overhead of its predecessors.

Package: libcvc4bindings-c-compat-dev
Section: libdevel
Architecture: any
Depends: libcvc4bindings-c-compat2 (= ${binary:Version}), libcvc4compat-dev (= ${binary:Version}), ${misc:Depends}
Description: CVC4 headers and static libraries, compatibility with CVC3 C API
 This is the CVC4 compatibility development package, containing headers and
 static libraries for the CVC4 compatibility layer.  Install this package only
 if you need to build packages from source that depend on the CVC4 compatibility
 library API (which aims to be source-compatible to CVC3's C API).
 .
 CVC4 is a tool for determining the satisfiability of a first order formula
 modulo a first order theory (or a combination of such theories). It is the
 fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
 CVC3) but does not directly incorporate code from any previous version.
 .
 CVC4 is intended to be an open and extensible SMT engine. It can be used
 as a stand-alone tool or as a library. It has been designed to increase
 the performance and reduce the memory overhead of its predecessors.
 
Package: libcvc4bindings-c-compat2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CVC4 dynamic libraries, compatibility with CVC3 C API
 This package contains the CVC4 compatibility dynamic libraries.
 "libcvc4bindings_c_compat.so" contains the compatibility API that allows
 CVC4 to support (much of) the CVC3 C API.
 .
 CVC4 is a tool for determining the satisfiability of a first order formula
 modulo a first order theory (or a combination of such theories). It is the
 fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
 CVC3) but does not directly incorporate code from any previous version.
 .
 CVC4 is intended to be an open and extensible SMT engine. It can be used
 as a stand-alone tool or as a library. It has been designed to increase
 the performance and reduce the memory overhead of its predecessors.

Package: libcvc4bindings-java-compat2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CVC4 dynamic libraries, compatibility with CVC3 Java API
 This package contains the CVC4 compatibility dynamic libraries.
 "libcvc4bindings_c_compat.so" and "CVC4compat.jar" contain the compatibility
 API that allows CVC4 to support (much of) the CVC3 Java API.
 .
 CVC4 is a tool for determining the satisfiability of a first order formula
 modulo a first order theory (or a combination of such theories). It is the
 fourth in the Cooperating Validity Checker family of tools (CVC, CVC Lite,
 CVC3) but does not directly incorporate code from any previous version.
 .
 CVC4 is intended to be an open and extensible SMT engine. It can be used
 as a stand-alone tool or as a library. It has been designed to increase
 the performance and reduce the memory overhead of its predecessors.
