#!/usr/bin/make -f
# -*- makefile -*-
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- --enable-static --enable-shared --with-build=production --enable-language-bindings=c,java --bsd --with-gmp --with-compat --disable-doxygen-pdf --enable-doxygen-dot JAVA_CPPFLAGS='-I/usr/lib/jvm/java-6-openjdk-i386/include -I/usr/lib/jvm/java-6-openjdk-amd64/include'
# PERL_CPPFLAGS=-I/usr/lib/perl/5.12/CORE/ PHP_CPPFLAGS='-I/usr/include/php5/Zend -I/usr/include/php5/TSRM -I/usr/include/php5/main -I/usr/include/php5' PYTHON_CPPFLAGS=-I/usr/include/python2.7 RUBY_CPPFLAGS=-I/usr/lib/ruby/1.8/x86_64-linux TCL_CPPFLAGS=-I/usr/include/tcl8.5

# Skip unit tests (by doing a "make regress" instead of "make check") to avoid a
# build dependency on CxxTest, which isn't(?) packaged for Debian.
override_dh_auto_test:
	$(MAKE) regress

override_dh_install:
	dh_install
	rm debian/cvc4-doc/usr/share/doc/cvc4/doxygen/html/jquery.js
	ln -s /usr/share/javascript/jquery/jquery.js debian/cvc4-doc/usr/share/doc/cvc4/doxygen/html/jquery.js
